/* Stylesheet file */
/* Default using Bootstrap */

/* ADD NEW MENU ITEM STYLES */
.container{
	padding:30pt 60pt 30pt 60pt;
	font-size:14pt;
}

.form-row{
	margin-bottom: 15pt;
}

.form-row label{
	font-weight: bold;
	font-size:10pt;
}

.form-row button{
	background: red;
	border:none;
	margin-right:30px;
}
.form-row button:hover {
	background: darkred;
	border:none;
}

.form-check-label{
	padding-left:10px;
}

.edit-button{
	cursor: pointer!important;
}

.edit-button{
	cursor: pointer!important;
}

#pop-up-box-background{
	background: black;
	position: absolute;
	opacity: .5;
	top:0;
	left:0;
	width: 100%;
	height: 200%;
	display:block;
	overflow:hidden;
}

#edit-item-box{
	display: block;
	background: white;
	width: 900px;
	height:auto;
	padding: 50px;
	position:absolute;
	top:15%;
	left:50%;
	margin-left: -450px;
	z-index: 99999;
	border:1px solid black;
}

.form-field-empty{
	border:3px solid red!important;
}