/* Stylesheet file */
/* Default using Bootstrap */

/* ADD NEW MENU ITEM STYLES */
.container{
	padding:30pt 60pt 30pt 60pt;
	font-size:14pt;
}

.form-row{
	margin-bottom: 15pt;
}

.form-row label{
	font-weight: bold;
	font-size:10pt;
}

.form-row button{
	background: red;
	border:none;
	margin-right:30px;
}
.form-row button:hover {
	background: darkred;
	border:none;
}

.form-check-label{
	padding-left:10px;
}

.edit-button{
	cursor: pointer!important;
}

.edit-button{
	cursor: pointer!important;
}

#pop-up-box-background{
	background: black;
	position: absolute;
	opacity: .5;
	top:0;
	left:0;
	width: 100%;
	height: 200%;
	display:block;
	overflow:hidden;
}

#edit-item-box{
	display: block;
	background: white;
	width: 900px;
	height:auto;
	padding: 50px;
	position:absolute;
	top:15%;
	left:50%;
	margin-left: -450px;
	z-index: 99999;
	border:1px solid black;
}

.form-field-empty{
	border:3px solid red!important;
}

.menu-item-container {

}

.menu-item-container a{
	display:block;
	background: red;
	padding: 16px;
}

.order-box{
	border: 1px solid black;
	padding: 30px;
	margin: 30px 0 30px 0;
}

.order-box .right-align{
	text-align: right;
}

.order-box .data-title{
	font-weight: bold;
}

.order-box .order-item{
	border-top: 1px solid darkgrey;
	padding: 20px;
	padding-bottom: 0;
}

.order-box .divider-row{
	border-top: 1px solid darkgrey;
	display: block;
	padding-bottom: 20px;
}

#admin-order-list .container-fluid{
	padding-left: 30px;
	padding-right: 30px;
}

.order-options button, .order-box button{
	width: fit-content!important;
	padding: .375rem 1rem!important;
}

.order-options label{
	font-weight: bold;
}

.info-heading{
	margin-bottom: 50px!important;
}
.info-heading h2{
	margin-bottom: 30px;
}

#admin-order-list .hide{
	display:none;
}

.order-box .right{
	text-align: right;
}

.btn-primary {
	background: red!important;
	border: none!important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
	background: darkred!important;
}

.top-button button{
	padding: 5px!important;
	background: none!important;
}
.top-button button:hover{
	padding: 5px!important;
	background: darkred!important;
	background: none!important;
}

#order-form .form-row, #order-form .form-group.col{
	margin-bottom: 0!important;
}

#order-form fieldset{
	margin-top:20px!important;
}

#order-form .order-prices{
	margin-top:1.5em;
}
#order-form .order-prices p{
	text-align: right!important;
	margin-bottom: 0;
	font-weight: bold;
}