/* media queries */
/* THEME COLORS */
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 18px;
}
.banner .bimg {
  width: 100%;
  height: auto;
  object-fit: fill;
}
.admin-menu-body .wrap {
  padding: 3% 15% 3% 15%;
}
.admin-menu-body .wrap .info-heading h2 {
  text-transform: uppercase;
  font-size: 32px;
}
.admin-menu-body .wrap .info-heading h3 {
  font-weight: normal;
  padding-bottom: 2%;
}
.admin-menu-body .wrap .box-wrap {
  padding: 2% 5% 5% 5%;
  outline: 1px solid;
}
.admin-menu-body .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.admin-menu-body .header .heading h2 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.admin-menu-body .descr a {
  color: #000;
  font-size: 18px;
}
.admin-menu-body .descr .desc-head {
  text-decoration: underline;
  font-weight: bold;
  color: #D50000;
}
.admin-menu-body .descr .info,
.admin-menu-body .descr td {
  font-size: 14px;
  margin-left: 2rem;
}
.admin-menu-body .descr .link {
  font-style: italic;
  text-decoration: underline;
  font-size: 18px;
}
.admin-menu-body .descr .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.add-item-button {
  margin-top: 1rem;
}
.add-item-button button {
  background: #D50000;
  padding: 0% 5% 0% 5%;
  color: #fff;
  text-transform: uppercase;
}