/* media queries */
/* THEME COLORS */
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 18px;
}
.row .menu-item-box {
  padding: 2% 5% 5% 5%;
  outline: 1px solid;
}
