/* media queries */
/* THEME COLORS */
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 18px;
}
.form-heading h2 {
  text-transform: uppercase;
  font-size: 24px;
}
form {
  padding: 0% 25% 5% 30%;
}
form table tr {
  margin-bottom: 2rem;
}
form table tr input#smallPrice.inputPrice,
form table tr input#mediumPrice.inputPrice,
form table tr input#largePrice.inputPrice {
  width: 50%;
}
form table tr textarea#itemDesc.input {
  margin-left: -0.5rem;
}
form .form-heading {
  text-align: center;
}
form .submit-button {
  margin-top: 4%;
  display: flex;
  justify-content: center;
}
form .submit-button button {
  background: #D50000;
  padding: 0% 7% 0% 7%;
  color: #fff;
  text-transform: uppercase;
}
